@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
    background-color: black; 
}

.container {
    width: 100vw;
    min-height: 100vh; 
    z-index: -1;
    position: fixed;
}

.container-one {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    gap: 27px;
}

h2 {
    color: white;
    display: flow;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

img {
    margin: 50px auto 70px;
    display: block;
    width: 334px;
}

input[type="number"] {
    margin-top: 7px;
    height: 35px;
    width: 222px;
    border-radius: 28px;
    border: none;
    background-color: #FFFFFF33;
    font-size: 21px;
    border: 1px solid #FFFFFF33;
    color: #FFFFFF;
    padding: 19px;
    cursor: pointer;
}

input::placeholder {
    color: #FFFFFF;
  }

button {
    display: block;
    margin: 57px auto;
    width: 211px;
    height: 39px;
    border: none;
    border-radius: 7px;
    font-size: 23px;
    box-shadow: 0px 18px 40px -8px aqua;
    font-weight: bold;
    color: #ffffff;
    background-color: aqua;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}